# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs & temp
logs/
*.log
/tmp/

# Build artifacts
bin/
dist/
build/

# Local env
.env
.devops/config.env

# Docker data
**/data/

.postgres-data/
infra/.ory-postgres-data/
