# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs & temp
logs/
*.log
/tmp/
cache/

# Build artifacts
bin/
dist/
build/

# Local env
.env
.env.prod
.env.local
.env.*.local
.devops/config.env

# Registry and deployment
.registry.conf
.last-build.info

.postgres-data/
infra/.ory-postgres-data/
!.specify/
!.claude/
!.augment/
.env.*
.docker/
.gocache/
.cache/
.venv/
.VSCodeCounter/
.modcache/
.claude/
.consul-data/
.*data*/

.42c/

# Monitoring data directories
/deployments/*/data/*
./data/
/data/

# Test artifacts
test/results/
