# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs & temp
logs/
*.log
/tmp/

# Build artifacts
bin/
dist/
build/

# Local env
.env
.env.prod
.env.local
.env.*.local
.devops/config.env

# Registry and deployment
.registry.conf
.last-build.info

.postgres-data/
infra/.ory-postgres-data/
.*/
