name: nginx

# Docker Compose 文件版本
version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: tsu_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/admin:/app/admin:ro
      - ./app/user:/app/user:ro
    restart: always
    networks:
        - tsu_network

networks:
  tsu_network:
    name: tsu-network
    external: true