# Docker Compose 文件版本
version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: tsu_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # 挂载自定义的 Nginx 配置文件
      - ./app/client:/app/client:ro
      - ./app/admin:/app/admin:ro
    restart: always

networks:
  tsu_network:
    driver: bridge