name: nginx

services:
  nginx:
    image: nginx:latest
    container_name: tsu_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../../infra/nginx/local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./web/admin:/web/admin:ro
      - ./web/user:/web/user:ro
    restart: always
    networks:
        - tsu_network

networks:
  tsu_network:
    name: tsu-network
    external: true